name: "build"

on:
  push:
    tags:
      - "!v*"
    branches:
      - "*"

  workflow_dispatch:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and export to Docker
        uses: docker/build-push-action@v6
        with:
          context: .
          load: true
          tags: ${{ github.repository }}:${{github.sha}}-test
          cache-to: type=gha

      - name: Test
        run: |
          docker run --rm -v $PWD/tests:/tests:ro --entrypoint /tests/test.sh ${{ github.repository }}:${{github.sha}}-test
